@model IEnumerable<Planit.Core.Project>

@{
    ViewBag.Title = "Dashboard";
}



<div>
    <div class="container">
        <div class="navbar-header navbar-fixed-top">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--Disabled
            @Html.ActionLink("Tree", "Outline", "Task", null, new { @class = "navbar-brand" })
                -->
        </div>

        <!--Not sure how to make the inner nav bar like the outer nav bar that goes across the outer nav bar length-->
        <div>
            <!--pagination makes the -->
            <ul class="navbar nav pagination ">
                <li class="active">@Html.ActionLink("Dashboard", "Dashboard", "Project")</li>
                <li>@Html.ActionLink("Tree", "Tree", "Project")</li>
                <li>@Html.ActionLink("Outline", "Outline", "Project")</li>
                <li>@Html.ActionLink("Task", "Task", "Project")</li>
                <!--Added these links to the nav bar-->
                <li>@Html.ActionLink("Schedule", "Schedule", "Project")</li>
                <li>@Html.ActionLink("Analytics", "Contact", "Home")</li>
                <li>@Html.ActionLink("Notifications", "Contact", "Home")</li>

            </ul>

        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-12">
        <div class="well">

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>

            <div style=" overflow-x: hidden; overflow-y: auto; height: 532px;">

                <div class="row">

                    <section id="page-sidebar" class="span12">

                        @foreach (var item in Model)
                        {
                            <div class="col-md-4">
                                <div id="@item.ID"
                                     data-dimension="250"
                                     data-text="@item.Status%"
                                     data-info="@item.Title"
                                     data-width="30"
                                     data-fontsize="35"
                                     data-percent="@item.Status"
                                     data-fgcolor="#ff5a09"
                                     data-bgcolor="#6e6e6e"
                                     data-fill="#ddd"
                                     class="circliful"
                                     style="width: 250px;">
                                </div>

                            </div>
                            <script>
                               $(document).ready(function () {
                                $('#@item.ID').circliful()
                                return false;
                                 });
                            </script>
                        }

                    </section>
                    <!-- end: Page section -->
                </div>
            </div>
        </div>

    </div>



</div>
                  
