@model Planit.Core.Project

@{
    ViewBag.Title = "Details";
}
<div>
    <div class="container">
        <div class="navbar-header navbar-fixed-top">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--Disabled
            @Html.ActionLink("Tree", "Outline", "Task", null, new { @class = "navbar-brand" })
                -->
        </div>
        <!--Not sure how to make the inner nav bar like the outer nav bar that goes across the outer nav bar length-->
        <div>
            <!--pagination makes the -->
            <ul class="navbar nav pagination ">
                <li>@Html.ActionLink("Dashboard", "Dashboard", "Project")</li>
                <li>@Html.ActionLink("Tree", "Tree", "Project")</li>
                <li>@Html.ActionLink("Outline", "Outline", "Project")</li>
                <li>@Html.ActionLink("Task", "Task", "Project")</li>
                <!--Added these links to the nav bar-->
                <li>@Html.ActionLink("Schedule", "Schedule", "Project")</li>

                <li>@Html.ActionLink("Analytics", "Analytics", "Project")</li>
                <li>@Html.ActionLink("Notifications", "Notifications", "Project")</li>
            </ul>
        </div>
    </div>
</div>
<h2 style="color: #e6e6e6">Details</h2>

<div>
    <h4 style="color: #e6e6e6">Project</h4>
	<hr />
    <dl class="dl-horizontal" style="color: #e6e6e6">
        <dt>
            @Html.DisplayNameFor(model => model.ParentTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
</div><input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    <a href="javascript:void(0);" onclick="history.go(-1);">Back to List</a>
 
</p>
