@model Planit.Core.Project

@{
    ViewBag.Title = "Details";
}

<h2 style="color: #ffffff">Details</h2>

<div>
    <h4 style="color: #ffffff">Project</h4>
	<hr />
    <dl class="dl-horizontal" style="color: #ffffff">
        <dt>
            @Html.DisplayNameFor(model => model.ParentTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>



        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div><input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    <a href="javascript:void(0);" onclick="history.go(-1);">Back to List</a>
 
</p>
