@model IEnumerable<Planit.Core.Project>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
<h2>Outline</h2>
    -->

<div>
    <div class="container">
        <div class="navbar-header nav">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>http://www.best-interview-strategies.com/questions.html
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--Disabled
            @Html.ActionLink("Tree", "Outline", "Task", null, new { @class = "navbar-brand" })
                -->
        </div>

        <!--Not sure how to make the inner nav bar like the outer nav bar that goes across the outer nav bar length-->
        <div>
            <!--pagination makes the -->
            <ul class="nav pagination navbar-nav " >
                <li>@Html.ActionLink("Tree", "Index", "Home")</li>
                <li class=" active">@Html.ActionLink("Outline", "About", "Home")</li>
                <li>@Html.ActionLink("Task", "Contact", "Home")</li>
                <!--Added these links to the nav bar-->
                <li>@Html.ActionLink("Schedule", "Index", "Home")</li>
                <li>@Html.ActionLink("Dashboard", "About", "Home")</li>
                <li>@Html.ActionLink("Analytics", "Contact", "Home")</li>
                <li>@Html.ActionLink("Notifications", "Contact", "Home")</li>

            </ul>

        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-3">
        <div >
            <!--*************1/3 Task view goes here******************-->
            <h4>Tasks</h4>
            <table class="table table-condensed table-striped table-hover">
                <tr>
                    <th>
                       @Html.DisplayNameFor(model => model.DueDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>

                            @for (int i = 0; i < item.Depth * 3; i++) // item.Depth * 3 is to make the difference between parent child more drastic
                            {
                                <p style="display:inline;"></p>
                            }

                            @Html.DisplayFor(modelItem => item.Title)

                        </td>



                    </tr>
                }

            </table>

        </div>
    </div>



    <div class="col-md-9">
        <div class="well">
            <!--it might be self evident that we are in the Outline View
                <h4>Outline</h4>
                -->
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DueDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>

                            @for (int i = 0; i < item.Depth * 3; i++) // item.Depth * 3 is to make the difference between parent child more drastic
                            {
                                <p style="display:inline;">-</p>
                            }

                            @Html.DisplayFor(modelItem => item.Title)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DueDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

