@model IEnumerable<Planit.Core.Project>
@{
    ViewBag.Title = "Outline";
}

<div>
    <div class="container">
        <div class="navbar-header navbar-fixed-top">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--Disabled
            @Html.ActionLink("Tree", "Outline", "Task", null, new { @class = "navbar-brand" })
                -->
        </div>

        <!--Not sure how to make the inner nav bar like the outer nav bar that goes across the outer nav bar length-->
        <div>
            <!--pagination makes the -->
            <ul class="navbar nav pagination ">
                <li>@Html.ActionLink("Dashboard", "Dashboard", "Project")</li>
                <li>@Html.ActionLink("Tree", "Tree", "Project")</li>
                <li class=" active">@Html.ActionLink("Outline", "Outline", "Project")</li>
                <li>@Html.ActionLink("Task", "Task", "Project")</li>
                <!--Added these links to the nav bar-->
                <li>@Html.ActionLink("Schedule", "Schedule", "Project")</li> 
                <li>@Html.ActionLink("Analytics", "Contact", "Home")</li>
                <li>@Html.ActionLink("Notifications", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">

    <div class=" well col-md-3">

        <div>
            <!--*************1/3 Task view goes here******************-->
            <!--Task Outline Toggle is redundent with the Navbar-->
            <h2 style="color: #6e6e6e"">Tasks</h2>

            <div style=" overflow-x: hidden; overflow-y: auto; height: 532px; color: #6e6e6e"">
                @Html.Partial("_Task", Model)
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="well">
            <!--it might be self evident that we are in the Outline View-->
            <h2 style="color: #6e6e6e">Outline</h2>
 
            <!--scroll in well block done here-->
            <div style=" overflow-x: hidden; overflow-y: auto; height: 532px; color: #6e6e6e">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DueDate)
                        </th>
                        
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>

                                @for (int i = 0; i < item.Depth * 3; i++) // item.Depth * 3 is to make the difference between parent child more drastic
                                {
                                    <p style="display:inline;">-</p>
                                }

                                @Html.ActionLink((item.Title), "Details", new { id = item.ID })

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DueDate)
                            </td>                                         
                            <td>                            
                                @Html.ActionLink("Create", "Create", new { id = item.ID}) |                          
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |                          
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

