@model IEnumerable<Planit.Core.Project>
@{
    ViewBag.Title = "Schedule";
}

<link rel='stylesheet' type='text/css' href='fullcalendar.css' />

<head><title></title>
    <script>
        $(document).ready(function () {

            // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar({
                // put your options and callbacks here
            })

        });
    </script>
</head>

<h2>Schedule</h2>


<div class="container">
    <div class="container">
        
        <div class="navbar-header navbar-fixed-top">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--Disabled
            @Html.ActionLink("Tree", "Outline", "Task", null, new { @class = "navbar-brand" })
                -->
        </div>

        <!--Not sure how to make the inner nav bar like the outer nav bar that goes across the outer nav bar length-->
        <div>
            <!--pagination makes the -->
            <ul class="navbar nav pagination ">
                <li>@Html.ActionLink("Tree", "Tree", "Project")</li>
                <li>@Html.ActionLink("Outline", "Outline", "Project")</li>
                <li>@Html.ActionLink("Task", "Task", "Project")</li>
                <!--Added these links to the nav bar-->
                <li class="active">@Html.ActionLink("Schedule", "Schedule", "Project")</li>
                <li>@Html.ActionLink("Dashboard", "About", "Home")</li>
                <li>@Html.ActionLink("Analytics", "Contact", "Home")</li>
                <li>@Html.ActionLink("Notifications", "Contact", "Home")</li>

            </ul>

        </div>
    </div>
</div>



<div class="row">

    <div class=" well col-md-3">

        <div>
            <!--*************1/3  partial Task & Outline views goe here******************-->
            <ul class="navbar nav pagination ">
                <li>@Html.ActionLink("Outline", "Outline", "Project")</li>
                <li>@Html.ActionLink("Task", "Task", "Project")</li>
                </ul>
            

            <table class="table table-condensed">


                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DueDate)
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>

                            @for (int i = 0; i < item.Depth * 3; i++) // item.Depth * 3 is to make the difference between parent child more drastic
                            {
                                <p style="display:inline;">-</p>
                            }

                            @Html.DisplayFor(modelItem => item.Description)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DueDate)
                        </td>


                    </tr>
                }

            </table>

        </div>
    </div>



    <div class="col-md-9">
        <div class="well">
            <!--it might be self evident that we are in the Outline View
                <h4>Outline</h4>
                -->
           
            <div id='calendar'>
            </div>

        </div>
    </div>
</div>

