@model IEnumerable<Planit.Core.Project>
@{
    ViewBag.Title = "Schedule";
}

<link rel='stylesheet' type='text/css' href='/Content/fullcalendar.css' />

<head>
    <title></title>
        <script type='text/javascript'>
        $(document).ready(function () {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            $('#calendar').fullCalendar({
                windowResize: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                    
                },
                editable: true,
                events: [
                @foreach (var item in Model)
                {
                @:{

                    @:title: '@item.Title',
                    @:start: new Date(Date.parse("@item.StartDate.ToUniversalTime()")),
                    @:end: new Date(Date.parse("@item.DueDate.ToUniversalTime()"))
                @:},
                }
                    //json object
                    //you can do it all in the controller and pass it here
                    // or do it here like we did below with razor
                    //google charts uses json to pass the data
                    //create a function in the controller that converts the model to jquery
                ]
            });
        });

        //create a helper that converts our objects (model) to calender structure.  That way when we use fullCalender...
        //maybe you can create your own by extending the helping
       // var something =  @Json.Encode(Model);
        //got to the microsoft decument for encode
        //microsoftsdn
        //option 2 - easier
        //create a javascript function that is going to recieve json data in the model format and rewrite into the calendar format
        //second suggestion is to change the model
    </script>
</head>

<div class="container" >
    <div class="container">  
        <div class="navbar-header navbar-fixed-top">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--Disabled
            @Html.ActionLink("Tree", "Outline", "Task", null, new { @class = "navbar-brand" })
                -->
        </div>

        <!--Not sure how to make the inner nav bar like the outer nav bar that goes across the outer nav bar length-->
        <div>
            <!--pagination makes the -->
            <ul class="navbar nav pagination ">
                <li>@Html.ActionLink("Dashboard", "Dashboard", "Project")</li>
                <li>@Html.ActionLink("Tree", "Tree", "Project")</li>
                <li>@Html.ActionLink("Outline", "Outline", "Project")</li>
                <li>@Html.ActionLink("Task", "Task", "Project")</li>
                <!--Added these links to the nav bar-->
                <li class="active">@Html.ActionLink("Schedule", "Schedule", "Project")</li>      
                <li>@Html.ActionLink("Analytics", "Contact", "Home")</li>
                <li>@Html.ActionLink("Notifications", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well" style="color: #6e6e6e">
            <!----You Rock Beth, Wunda, Wunda, Wunda. . . Wunda Woman-->
            
            <div id='calendar'>
            </div>

        </div>
    </div>
</div>

