@model IEnumerable<Planit.Core.Project>
@{
    ViewBag.Title = "Task";
}
<!--
<h2>Task</h2>
    -->

<div>
    <div class="container">
        <div class="navbar-header navbar-fixed-top">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--Disabled
            @Html.ActionLink("Tree", "Outline", "Task", null, new { @class = "navbar-brand" })
                -->
        </div>

        <!--Not sure how to make the inner nav bar like the outer nav bar that goes across the outer nav bar length-->
        <div>
            <!--pagination makes the -->
            <ul class="navbar nav pagination ">
                <li>@Html.ActionLink("Dashboard", "Dashboard", "Project")</li>
                <li>@Html.ActionLink("Tree", "Tree", "Project")</li>
                <li>@Html.ActionLink("Outline", "Outline", "Project")</li>
                <li class="active">@Html.ActionLink("Task", "Task", "Project")</li>
                <!--Added these links to the nav bar-->
                <li>@Html.ActionLink("Schedule", "Schedule", "Project")</li>
                <li>@Html.ActionLink("Analytics", "Analytics", "Project")</li>
                <li>@Html.ActionLink("Notifications", "Notifications", "Project")</li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
<div class="row">
   

    <div class="col-md-9 col-md-push-3">
        <div class="well">
            <h2 style="color: #6e6e6e">Tasks </h2> <br />

            <!--scroll in well block done here-->
            <div style=" overflow-x: hidden; overflow-y: auto; height: 532px;">
                <table class="table" style="color: #6e6e6e">
                    <tr>
                        <th>
                            @Html.ActionLink("Title", "Task", new { sortOrder = ViewBag.TitleSortParm })
                        </th>
                        <th>
                            @Html.ActionLink("DueDate", "Task", new { sortOrder = ViewBag.DueDateSortParm })
                        </th>
                        <th>
                            @Html.ActionLink("Status", "Task", new { sortOrder = ViewBag.StatusSortParm })
                        </th>
                        <th></th>
                    </tr>
                    @{
                        bool Overdue = false;
                        bool Today = false;
                        bool Tomorrow = false;
                        bool ThisWeek = false;
                        bool NextWeek = false;
                        bool LaterOn = false;
                    }


                    @foreach (var item in ViewBag.BAL.TraverseByDueDate())
                    {
                        if (item.DueDate < DateTime.Today && Overdue == false)
                        {
                            Overdue = true;
                            <tr style="background-color:lightgray">
                                <th style="width:inherit;font-size:smaller;">Overdue</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }

                        if (item.DueDate == DateTime.Today && Today == false)
                        {
                            Today = true;
                            <tr style="background-color:lightgray">
                                <th style="width: inherit; font-size: smaller;">Today</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }

                        if (item.DueDate == DateTime.Today.AddDays(1) && Tomorrow == false)
                        {
                            Tomorrow = true;
                            <tr style="background-color:lightgray">
                                <th style="width: inherit; font-size: smaller;">Tomorrow</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }

                        if (item.DueDate == DateTime.Today.AddDays(2) && ThisWeek == false)
                        {
                            ThisWeek = true;
                            <tr style="background-color:lightgray">
                                <th style="width: inherit; font-size: smaller;">This Week</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }

                        if (item.DueDate == DateTime.Today.AddDays(7) && NextWeek == false)
                        {
                            NextWeek = true;
                            <tr style="background-color:lightgray">
                                <th style="width: inherit; font-size: smaller;">Next Week</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }

                        if (item.DueDate > DateTime.Today.AddDays(7) && LaterOn == false)
                        {
                            LaterOn = true;
                            <tr style="background-color:lightgray">
                                <th style="width: inherit; font-size: smaller;">Later on</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }

                        <tr>
                            <td>
                                <a href='@Url.Action("Details", "Project", new { id = item.ID })'>@item.Title</a>
                            </td>
                            <td>
                                @item.DueDate
                            </td>
                            <th>
                                @item.Status
                            </th>
                            <td>
                                <a href='@Url.Action("Create", "Project", new { id = item.ID })'><span class="glyphicon glyphicon-plus" /></a>
                                <a href='@Url.Action("Edit", "Project", new { id = item.ID })'><span class="glyphicon glyphicon-pencil" /></a>
                                <a href='@Url.Action("Delete", "Project", new { id = item.ID })'><span class="glyphicon glyphicon-remove" /></a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>


    <div class="col-md-3 col-md-pull-9">
        <div class=" well">
            <div>
                <!--*************1/3 Task view goes here******************-->
                <!--Task Outline Toggle is redundent with the Navbar-->
                <h2 style="color: #6e6e6e">Outline</h2>
                <br />
                <!--scroll in well block done here-->
                <div style=" overflow-x: hidden; overflow-y: auto; height: 532px; color:#6e6e6e">
                    @Html.Partial("_Outline")
                </div>
            </div>
        </div>
    </div>

</div>
</div>
